 <title>About</title>
 <!-- Breadcrumbs -->
      <section class="breadcrumbs-custom-inset">
        <div class="breadcrumbs-custom context-dark bg-overlay-60">
          <div class="container">
            <h2 class="breadcrumbs-custom-title">About Us</h2>
            <!-- <ul class="breadcrumbs-custom-path"> -->
              <!-- <li><a href="index.html">Home</a></li> -->
              <!-- <li class="active">About Us</li> -->
            <!-- </ul> -->
          </div>
          <div class="box-position" style="background-image: url(images/bg-about.jpg);"></div>
        </div>
      </section>
      <!-- Why choose us-->
      <section class="section section-sm section-first bg-default text-md-left background_class" style="background-color:#9a497d;">
        <div class="container">
          <div class="row row-50 justify-content-center align-items-xl-center">
            <div class="col-md-10 col-lg-5 col-xl-6"><img src="images/why_us.jpg" alt="" width="519" height="564"/>
            </div>
            <div class="col-md-10 col-lg-7 col-xl-6">
              <h1 class="text-spacing-25 font-weight-normal title-opacity-9">Why choose us</h1>
              <!-- Bootstrap tabs-->
              <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-4">
                <!-- Nav tabs-->
                <ul class="nav nav-tabs">
                  <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-4-1" data-toggle="tab">Experience</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-4-2" data-toggle="tab">Skills</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-4-3" data-toggle="tab">Mission</a></li>
                </ul>
                <!-- Tab panes-->
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="tabs-4-1">
                    <p style="color:#ffd724;">Sunshine Ad Solutions is a fast growing organization which is creating its milestones day by day with its interior & exterior branding incredibly.</p>
                    <!-- Linear progress bar-->
                    <article class="progress-linear progress-secondary">
                      <div class="progress-header">
                        <p>Branding & Fabrication</p>
                      </div>
                      <div class="progress-bar-linear-wrap">
                        <div class="progress-bar-linear"><span class="progress-value">79</span><span class="progress-marker"></span></div>
                      </div>
                    </article>
                    <!-- Linear progress bar-->
                    <article class="progress-linear progress-orange">
                      <div class="progress-header">
                        <p>Web Developing</p>
                      </div>
                      <div class="progress-bar-linear-wrap">
                        <div class="progress-bar-linear"><span class="progress-value">72</span><span class="progress-marker"></span></div>
                      </div>
                    </article>
                    <!-- Linear progress bar-->
                    <article class="progress-linear">
                      <div class="progress-header">
                        <p>Design</p>
                      </div>
                      <div class="progress-bar-linear-wrap">
                        <div class="progress-bar-linear"><span class="progress-value">88</span><span class="progress-marker"></span></div>
                      </div>
                    </article>
                  </div>
                  <div class="tab-pane fade" id="tabs-4-2">
                    <div class="row row-40 justify-content-center text-center inset-top-10">
                      <div class="col-sm-4">
                        <!-- Circle Progress Bar-->
                        <div class="progress-bar-circle" data-value="0.87" data-gradient="#ec7575" data-empty-fill="transparent" data-size="150" data-thickness="12" data-reverse="true"><span></span></div>
                        <p class="progress-bar-circle-title" style="color:#ffffff;">Affordable</p>
                      </div>
                      <div class="col-sm-4">
                        <!-- Circle Progress Bar-->
                        <div class="progress-bar-circle" data-value="0.74" data-gradient="#e7a855" data-empty-fill="transparent" data-size="150" data-thickness="12" data-reverse="true"><span></span></div>
                        <p class="progress-bar-circle-title" style="color:#ffffff;">Punctuality</p>
                      </div>
                      <div class="col-sm-4">
                        <!-- Circle Progress Bar-->
                        <div class="progress-bar-circle" data-value="0.99" data-gradient="#50ba87" data-empty-fill="transparent" data-size="150" data-thickness="12" data-reverse="true"><span></span></div>
                        <p class="progress-bar-circle-title" style="color:#ffffff;">Co-operation</p>
                      </div>
                    </div>
                    <div class="group-md group-middle">
					<!-- <a class="button button-width-xl-310 button-default-outline button-wapasha" href="#">Download presentation</a></div> -->
                  </div> 
              </div>
			  <div class="tab-pane fade" id="tabs-4-3">
                    <p style="color:#ffd724;">Our mission is simple—working with people to create unique design and environments through inspiration and team work. We will take the aim to understand your need and your project, and then execute the plan that suits you and your brand.</p>
                    <div class="text-center text-sm-left offset-top-30">
                      <ul class="row-16 list-0 list-custom list-marked list-marked-sm list-marked-secondary_for_bullet">
                        <li style="color:#ffffff;">Interior & Exterior Branding</li>
                        <li style="color:#ffffff;">Web Design</li>
                        <li style="color:#ffffff;">Corporate Gifts</li>
                        <li style="color:#ffffff;">Consultations</li>
                        <li style="color:#ffffff;">Digital Media</li>
                        <li style="color:#ffffff;">Concept Design</li>
                      </ul>
                    </div>
                    <div class="group-md group-middle">
					<!-- <a class="button button-width-xl-230 button-primary button-pipaluk" href="#">Get in touch</a> -->
					<!-- <a class="button button-width-xl-310 button-default-outline button-wapasha" href="#">Download presentation</a></div> -->
                  </div>
                </div>
            </div>
          </div>
        </div>
      </section>
	  
      <!-- What people Say-->
      <section class="section section-sm section-last bg-default background_class" style="background-color:#9a497d;">
        <div class="container">
          <!-- <h3>What people Say</h3> -->
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-modern" data-items="1" data-stage-padding="15" data-margin="30" data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut" data-autoplay="true">
            <!-- Quote Lisa-->
            <article class="quote-lisa">
              <div class="quote-lisa-body"><a class="quote-lisa-figure" href="#"><img class="img-circles" src="images/round_logo.png" alt="" width="100" height="100"/></a>
                <div>
                  <p class="q" style="color:#ffffff;">We are connecting the world of Branding and Fabrication. Here we provide new concepts and various kinds of idea and it's beyond the usual thinking and to become the creator you are the source of the creation.</p>
                </div>
                <!-- <h5 class="quote-lisa-cite"><a href="#">Catherine Williams</a></h5> -->
                <!-- <p class="quote-lisa-status">Local shop owner</p> -->
              </div>
            </article>
            <!-- Quote Lisa-->
            <article class="quote-lisa">
              <div class="quote-lisa-body"><a class="quote-lisa-figure" href="#"><img class="img-circles" src="images/round_logo.png" alt="" width="100" height="100"/></a>
                <div>
					<p class="q" style="color:#ffffff;">Here we at the Sunshine Ad Solutions we know how to behave with our employees and how to take care of them because they are the wheels of our success. We know how to deal with the hazardous condition and sudden challenges.</p>
                </div>
                <!-- <h5 class="quote-lisa-cite"><a href="#">Rupert Wood</a></h5> -->
                <!-- <p class="quote-lisa-status">House owner</p> -->
              </div>
            </article>
            <!-- Quote Lisa-->
            <article class="quote-lisa">
              <div class="quote-lisa-body"><a class="quote-lisa-figure" href="#"><img class="img-circles" src="images/round_logo.png" alt="" width="100" height="100"/></a>
                <div>
                  <p class="q" style="color:#ffffff;">With the harmony of the heart we welcomes our client not only for the business need but also for the relations and through some endless relations we are always waits to serve them better in the future.</p>
                </div>
                <!-- <h5 class="quote-lisa-cite"><a href="#">Samantha Brown</a></h5> -->
                <!-- <p class="quote-lisa-status">Freelancer</p> -->
              </div>
            </article>
          </div>
        </div>
      </section>

      <!-- Counter Classic-->
      <section class="section section-fluid bg-default background_class">
        <div class="parallax-container" data-parallax-img="images/bg-counter-2.jpg">
          <div class="parallax-content section-xl context-dark bg-overlay-26">
            <div class="container">
              <div class="row row-50 justify-content-center border-classic">
                <div class="col-sm-6 col-md-5 col-lg-3">
                  <div class="counter-classic">
                    <div class="counter-classic-number"><span class="counter">3</span>
                    </div>
                    <h5 class="counter-classic-title">Design awards</h5>
                  </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3">
                  <div class="counter-classic">
                    <div class="counter-classic-number"><span class="counter">109</span>
                    </div>
                    <h5 class="counter-classic-title">Projects</h5>
                  </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3">
                  <div class="counter-classic">
                    <div class="counter-classic-number"><span class="counter">1</span><span class="symbol">k</span>
                    </div>
                    <h5 class="counter-classic-title">Designs</h5>
                  </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-3">
                  <div class="counter-classic">
                    <div class="counter-classic-number"><span class="counter">25</span>
                    </div>
                    <h5 class="counter-classic-title">Team members</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>