<%= csrf_meta_tags %>
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">

<script src="/js/jquery.js"></script>

<script src="/js/ag-grid_17_1_1/ag-grid-enterprise.js"></script>

<style>
	.button {
        background-color: #4CAF50; /* Green background */
        border: none;
        color: white; /* White text */
        padding: 10px 20px; /* Adjust padding as needed */
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px; /* Adjust font size as needed */
        margin: 4px 2px;
        cursor: pointer;
        background-image: linear-gradient(to bottom right, #4CAF50, #45a049); /* Gradient background */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Shadow */
        width: 100%;
        transition: background-color 0.3s;
    }

    .button:hover {
        background-color: #45a049; /* New background color on hover */
    }

    .button:focus {
        background-color: #45a049; /* New background color on focus */
    }

    /* Style for the container div */
    .container {
        width: 100%;
        height: 100vh; /* Adjust to center vertically on the page */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Style for the button wrapper div */
    .button-wrapper {
        width: 50%; /* Adjust as needed */
        text-align: center;
        border: 0px solid;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* Style for the button div */
    .button-div {
        width: 50%;
        height: 100px; /* Adjust as needed */
        text-align: center;
        border: 0px solid;
        display: flex;
        align-items: center;
        justify-content: center;
    }
	
	
	
	
	
	
	.ui-widget-header {
		background: #d9d9d9 !important; 
		border: 1px solid #808080;
		color: #ffffff;
		font-weight: bold;
	} 
	.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
		color: #ffffff !important;
		font-family:   Arial !important;
	} 
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
		background-color :#c6e6f0 !important;
		background-image: none !important;
	} 
	.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
		background-color :#8fb8bf !important;
		background-image: none !important;
	}
	.ui-state-default a {
		color: #215a66 !important;
	}
	
	.corner_border_div_100_green_ag{
		float:left;
		padding-left:10px;
		padding-right:10px;
		padding-top:5px;
		padding-bottom:5px; 
		border-radius:0px;
		text-align:center;
		background-color: #459bac;
		color: white;
		border: 0;
	}
	
	.corner_border_div_100_red_ag{
		float:left;
		padding-left:10px;
		padding-right:10px;
		padding-top:5px;
		padding-bottom:5px; 
		border-radius:0px;
		text-align:center;
		background-color: #BE3364;
		color: white;
		border: 0;
	}
	
	.logout_css{
		font-size:20px;
		font-weight:bold;
		color:#fff;
		text-align:left;
	}
	.sign_up_css{
		font-size:20px;
		font-weight:bold;
		color:#fff;
		float:right;
	}
	
	.user_css{
		font-size:20px;
		font-weight:bold;
		color:#fff;
		text-align:center;
	}
	
	.html_css_class {
		background: rgba(0, 0, 0, 0) url("/images/header.jpg") repeat fixed center 0 / cover  ;
		color: #fff;
		height: 100%;
		overflow: hidden;
		transition: all 0.35s ease 0s;
	}
	
</style>
<html class="html_css_class">
    <title>Admin Panel</title>
	<div style="width:100%;text-align:center;border:0px solid;"><h2 class="wow fadeInLeft" style="color:#ffffff;align:center;">Welcome to Sunshine Ad Solutions Admin Page</h2></div>
	<div style="width:100%;text-align:center;border:0px solid;"></div>
	<div style="width:100%;border:0px solid yellow;">
		<div style="border:0px solid red; height:10px;width:33%;float:left;"> <a class="logout_css" onclick="logout();" href="javascript:void(0)">Log out</a> </div>
		<div style="border:0px solid black; height:10px;width:33%;float:left;"><p style="text-align:center;color:#ffd724;">Hi... <%= @current_user.email.split("@")[0] %></p></div>
		<div style="border:0px solid green;height:10px;width:33%;float:right;"><a class="sign_up_css" onclick="sign_up();" href="javascript:void(0)">Sign up</a></div>
	</div>
	
	<div class="container">
		<div class="button-wrapper">
			<div class="button-div">
				<button class="button button1" onclick="window.location.href='/bill_generation'">Generate Bill</button>
			</div>
			<div class="button-div">
				<button class="button button2" onclick="window.location.href='/upload_brochure'">Brochure & Banner</button>
			</div>
			<div class="button-div">
				<button class="button button3" onclick="window.location.href='/upload_clients'">Client Logo</button>
			</div>
			<div class="button-div">
				<button class="button button4" onclick="window.location.href='/upload_project_images'">Project Images</button>
			</div>
		</div>
	</div>
</html> 

<script>
	function logout(){
		window.location.href="/logout";
	}
	
	function sign_up(){
		window.location.href="/users/sign_up";
	}
	
</script> 