	<title>Home</title>
	<!-- Swiper-->
    <section class="section swiper-container swiper-slider swiper-slider-classic" data-loop="true" data-autoplay="5000" data-simulate-touch="true" data-direction="vertical" data-nav="false" style="background-color:#9a497d;">
        <div class="swiper-wrapper text-center">
          <div class="swiper-slide context-dark" data-slide-bg="../../images/banner.jpg">
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <h1 data-caption-animate="fadeInLeft" data-caption-delay="0">Innovative and affordable</h1>
                <p class="text-width-large" data-caption-animate="fadeInRight" data-caption-delay="100">Let's start the Branding & Fabrication era and make something extra</p> 
              </div>
            </div>
          </div>
          <div class="swiper-slide context-dark" data-slide-bg="../../images/banner.jpg">
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <h1 data-caption-animate="fadeInLeft" data-caption-delay="0">Committed and professional</h1>
                <p class="text-width-large" data-caption-animate="fadeInRight" data-caption-delay="100">Let's start the Branding & Fabrication era and make something extra</p> 
              </div>
            </div>
          </div>
          <div class="swiper-slide context-dark" data-slide-bg="../../images/banner.jpg">
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <h1 data-caption-animate="fadeInLeft" data-caption-delay="0">Harmonious and cozy</h1>
                <p class="text-width-large" data-caption-animate="fadeInRight" data-caption-delay="100">Let's start the Branding & Fabrication era and make something extra</p> 
              </div>
            </div>
          </div>
        </div>
        <!-- Swiper Pagination-->
        <div class="swiper-pagination__module">
          <div class="swiper-pagination__fraction"><span class="swiper-pagination__fraction-index">00</span><span class="swiper-pagination__fraction-divider">/</span><span class="swiper-pagination__fraction-count">00</span></div>
          <div class="swiper-pagination__divider"></div>
          <div class="swiper-pagination"></div>
        </div>
      </section>

      <!-- See all services-->
      <section class="section section-sm section-first bg-default text-center" style="background-color:#9a497d;">
        <div class="container" style="background-color:#9a497d;">
          <div class="row row-30 justify-content-center" style="background-color:#9a497d;">
            <div class="col-md-7 col-lg-5 col-xl-6 text-lg-left wow fadeInUp" style="background-color:#9a497d;">
              <div class="figure-classic figure-classic-left"><img src="../../images/index-1-513x561.jpg" alt="" width="513" height="561"/>
              </div>
            </div>
            <div class="col-lg-7 col-xl-6">
              <div class="row row-30">
                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".2s">
                  <article class="box-icon-modern box-icon-modern-2">
                    <div class="box-icon-modern-icon fl-bigmug-line-sunrise3"></div>
                    <h5 class="box-icon-modern-title"><a href="#">Interior & Exterior Branding</a></h5>
                    <div class="box-icon-modern-decor"></div>
                    <p class="box-icon-modern-text" style="color:#9a497d;">We execute your interior and exterior need.</p>
                  </article>
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".1s">
                  <article class="box-icon-modern box-icon-modern-2">
                     <div class="box-icon-modern-icon fl-bigmug-line-monitor74"></div>
                    <h5 class="box-icon-modern-title"><a href="#">Web Design</a></h5>
                    <div class="box-icon-modern-decor"></div>
                    <p class="box-icon-modern-text" style="color:#9a497d;">We create your digital world and elaborate your brand worldwide.</p>
                  </article>
                </div>
				 <div class="col-sm-6 wow fadeInRight" data-wow-delay=".3s">
                  <article class="box-icon-modern box-icon-modern-2">
                    <div class="box-icon-modern-icon fl-bigmug-line-chat55"></div>
                    <h5 class="box-icon-modern-title"><a href="#">Consultations & Executions</a></h5>
                    <div class="box-icon-modern-decor"></div>
                    <p class="box-icon-modern-text" style="color:#9a497d;">Our specialists are ready to consult and execute your branding needs.</p>
                  </article>
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".2s">
                  <article class="box-icon-modern box-icon-modern-2">
                    <div class="box-icon-modern-icon fl-bigmug-line-giftbox54"></div>
                    <h5 class="box-icon-modern-title"><a href="#">Corporate Gifts</a></h5>
                    <div class="box-icon-modern-decor"></div>
                    <p class="box-icon-modern-text" style="color:#9a497d;">We full-fill your wishs to give you total satisfactions.</p>
                  </article>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Latest Projects-->
      <section class="section section-sm section-fluid bg-default text-center" style="background-color:#9a497d;">
        <div class="container-fluid" style="background-color:#9a497d;">
          <h3 class="wow fadeInLeft" style="font-family:impact;color:#ffffff">Latest Projects</h3>
          <p style="font-size:20px;color:#ffd724;">In our portfolio you can browse the latest branding works florished in various places and for different branding purposes. Our qualified designers, professionals are always ready to execute something spectacular for you and beyond your thinking.</p>
         
          <div class="row row-30 isotope" data-isotope-layout="fitRows" data-isotope-group="gallery" data-lightgallery="group">
			<% (0..@image_small.length-1).each do |i| %>

            <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft">
              <!-- Thumbnail Classic-->
              <article class="thumbnail thumbnail-classic thumbnail-md">
                <div class="thumbnail-classic-figure"><img src="../../project_images/<%= @image_small[i] %>" alt="" width="420" height="350"/>
                </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap">
				  <a class="icon fl-bigmug-line-zoom60" href="../../project_images/<%= @image_large[i] %>" data-lightgallery="item"><img src="../../project_images/<%= @image_small[i] %>" alt="" width="420" height="350"/></a>
                  </div> 
                </div>
              </article>
            </div>
			<% end %>
          </div>
        </div>
      </section>

      <!-- Years of experience-->
      <section class="section section-sm bg-default" style="background-color:#9a497d;">
        <div class="container">
          <div class="row row-50 row-xl-24 justify-content-center align-items-center align-items-lg-start text-left">
            <div class="col-md-6 col-lg-5 col-xl-4 text-center"><a class="text-img" href="about-us.html"><span class="counter" style="color:#ce268f;">28</span></a></div>
            <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
              <div class="text-width-extra-small offset-top-lg-24 wow fadeInUp">
                <h3 class="title-decoration-lines-left" style="color:#ffffff;">Experiencing the months</h3>
                <p class="text-gray-500" style="color:#ffd724;">Sunshine Ad Solutions is a renowned branding and fabrication company 2018. We create new design for homes and offices.</p>
              </div>
            </div>
            <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 wow fadeInRight" data-wow-delay=".1s">
              <div class="row justify-content-center border-2-column offset-top-xl-26">
                <div class="col-9 col-sm-6">
                  <div class="counter-amy">
                    <div class="counter-amy-number"><span class="counter">1</span><span class="symbol">k</span>
                    </div>
                    <h6 class="counter-amy-title" style="color:#ffd724;">Interior & Exterior Designs</h6>
                  </div>
                </div>
                <div class="col-9 col-sm-6">
                  <div class="counter-amy">
                    <div class="counter-amy-number"><span class="counter">21</span>
                    </div>
                    <h6 class="counter-amy-title" style="color:#ffd724;">Monthly Branding</h6>
                  </div>
                </div>
                <div class="col-9 col-sm-6">
                  <div class="counter-amy">
                    <div class="counter-amy-number"><span class="counter">7</span>
                    </div>
                    <h6 class="counter-amy-title" style="color:#ffd724;">Inter State Relations</h6>
                  </div>
                </div>
                <div class="col-9 col-sm-6">
                  <div class="counter-amy">
                    <div class="counter-amy-number">
						<span class="counter">100</span> 
                    </div>
                    
                    <h6 class="counter-amy-title" style="color:#ffd724;">% Client Satisfaction</h6>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </section>

      
	  
	  
	  <!-- Latest Projects-->
      <section class="section section-sm section-fluid bg-default" style="background-color:#9a497d;">
        <div class="container">
          <h3 style="font-family:impact;color:#ffffff">OUR CLIENTS</h3>
        </div>
        <!-- Owl Carousel-->
        <div class="owl-carousel owl-classic owl-timeline" data-items="1" data-md-items="2" data-lg-items="3" data-xl-items="4" data-margin="30" data-autoplay="true" data-nav="true" data-dots="true">
		<% (0..@clients_logo.length-1).each do |i| %>
			<div class="owl-item"> 
				<article class="thumbnail thumbnail-md">
					<div class="thumbnail-mary-figure"><img src="../../client_images/<%= @clients_logo[i] %>" alt="" width="420" height="308"/>
					</div> 
				</article>

			</div>
		  <% end %>
        </div>
      </section>

      <!-- You dream — we embody-->
      <section class="section section-sm bg-default text-md-left" style="background-color:#9a497d;">
        <div class="container">
          <div class="row row-50 align-items-center justify-content-center justify-content-xl-between">
            <div class="col-lg-6 col-xl-5 wow fadeInLeft">
              <h3>You dream — we embody</h3>
			  <h5 style="font-family:impact;color:#ffffff;font-size:20px;margin-top:10px;" >Our Process</h5>
              <!-- Bootstrap tabs-->
              <div class="tabs-custom tabs-horizontal tabs-line tabs-line-big text-center text-md-left" id="tabs-6">
                <!-- Nav tabs-->
                <ul class="nav nav-tabs">
                  <li class="nav-item" role="presentation"><a class="nav-link nav-link-big active" href="#tabs-6-1" data-toggle="tab">01</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link nav-link-big" href="#tabs-6-2" data-toggle="tab">02</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link nav-link-big" href="#tabs-6-3" data-toggle="tab">03</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link nav-link-big" href="#tabs-6-4" data-toggle="tab">04</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link nav-link-big" href="#tabs-6-5" data-toggle="tab">05</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link nav-link-big" href="#tabs-6-6" data-toggle="tab">06</a></li>
                </ul>
                <!-- Tab panes-->
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="tabs-6-1">
                    <h5 class="font-weight-normal">Meet with us</h5>
                    <p style="color:#ffd724;">It will be our pleasure to meet with you. Progressively, the aim is to get understand your DNA, your business strategy, your planning, so that we should move forward, we can be on the same page with you.</p>
                    <div class="group-md group-middle"><a class="button button-default-outline button-wapasha" onclick="download_doc_file();" style="cursor:pointer;">Download Brochure</a></div>
                  </div>
                  <div class="tab-pane fade" id="tabs-6-2">
                    <h5 class="font-weight-normal">Identify</h5>
                    <p style="color:#ffd724;">Here we can make the relationship a bit deeper, where we identify your needs, spell out project plans, create milestones, set up the deadlines for the work, agree on deliverables, and so on. It’s time to decorate your dream.</p>
                    <div class="group-md group-middle"><a class="button button-default-outline button-wapasha" onclick="download_doc_file();" style="cursor:pointer;">Download Brochure</a></div>
                  </div>
                  <div class="tab-pane fade" id="tabs-6-3">
                    <h5 class="font-weight-normal">Planning</h5>
                    <p style="color:#ffd724;">It is the most momentous stage, where put in place the fundamentals of a plan that can transform your star product into an unforgettable brand. It’s “Game Achievable” time.</p>
                    <div class="group-md group-middle"><a class="button button-default-outline button-wapasha" onclick="download_doc_file();" style="cursor:pointer;">Download Brochure</a></div>
                  </div>
                  <div class="tab-pane fade" id="tabs-6-4">
                    <h5 class="font-weight-normal">Conception</h5>
                    <p style="color:#ffd724;">This is the stage to move up fast. There is an adrenaline blitz and ideas begin to fly chunky and fast from all apartment. We identify it as the ‘Ideation’ stage of the project.</p>
                    <div class="group-md group-middle"><a class="button button-default-outline button-wapasha" onclick="download_doc_file();" style="cursor:pointer;">Download Brochure</a></div>
                  </div>
				  <div class="tab-pane fade" id="tabs-6-5">
                    <h5 class="font-weight-normal">Details</h5>
                    <p style="color:#ffd724;">This is the cherry-picking stage, where the best ideas are selected and fine-tuned to match your actual requirements. It is the‘Gestation’ stage to us.</p>
                    <div class="group-md group-middle"><a class="button button-default-outline button-wapasha" onclick="download_doc_file();" style="cursor:pointer;">Download Brochure</a></div>
                  </div>
				  <div class="tab-pane fade" id="tabs-6-6">
                    <h5 class="font-weight-normal">Implement</h5>
                    <p style="color:#ffd724;">After all the sweat and toil, this is the ‘Birth’ stage, that comes with all the delivery anguish, after which, we finally hand over your dream, which is now already made real now – fresh from the stock, and just as you had thought of! Congratulations!</p>
                    <div class="group-md group-middle"><a class="button button-default-outline button-wapasha" onclick="download_doc_file();" style="cursor:pointer;">Download Brochure</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 text-center wow fadeInUp" data-wow-delay=".1s">
              <div class="figure-classic figure-classic-right"><img src="../../images/relation.jpg" alt="" width="556" height="434"/>
              </div>
            </div>
          </div>
        </div>
      </section>
	  
