<!DOCTYPE html>
<!--
	Be by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sunshine Ad Solutions</title>

    <!-- =============== Bootstrap Core CSS =============== -->
    <link rel="stylesheet" href="../../lib_2021/assets/css/bootstrap.min.css" type="text/css">
    <!-- =============== fonts awesome =============== -->
    <link rel="stylesheet" href="../../lib_2021/assets/font/css/font-awesome.min.css" type="text/css">
    <!-- =============== Plugin CSS =============== -->
    <link rel="stylesheet" href="../../lib_2021/assets/css/animate.min.css" type="text/css">
    <!-- =============== Custom CSS =============== -->
    <link rel="stylesheet" href="../../lib_2021/assets/css/style.css" type="text/css">
    <!-- =============== Owl Carousel ../../lib_2021/assets =============== -->
    <link href="../../lib_2021/assets/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="../../lib_2021/assets/owl-carousel/owl.theme.css" rel="stylesheet">
	
	 <link rel="stylesheet" href="../../lib_2021/assets/css/isotope-docs.css" media="screen">
	  <link rel="stylesheet" href="../../lib_2021/assets/css/baguetteBox.css">
	
</head>

<body>
    <!-- =============== Preloader =============== -->
    <div id="preloader">
        <div id="loading">
		<img width="256" height="32" src="../../lib_2021/assets/img/loading-cylon-red.svg">	
        </div>
    </div>
    <!-- =============== nav =============== -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="../../lib_2021/assets/img/logo.png" alt="Logo">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
						<li>
                            <a class="page-scroll" href="#home">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#Services">Services</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#Gallery">Works</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#clients">Clients</a>
                        </li>
						
						<li>
                            <a class="page-scroll" href="#team">Team</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- =============== navbar-collapse =============== -->

            </div>
        </div>
        <!-- =============== container-fluid =============== -->
    </nav>
    <!-- =============== header =============== -->
    <header id="home" class="header">
		<!-- =============== container =============== -->
        <div class="container">
            <div class="header-content row">
				

				<div id="owl-demo" class="owl-carousel header1">
				  <div>
				  <div class="col-xs-12 col-sm-6 col-md-6 header-text">
                    <h2 class="wow bounceIn animated" data-wow-delay=".40s">Innovative and affordable <span>SOLUTION</span> FOR <br/>YOUR BRAND</h2>
                    <!-- <h3 class="wow bounceIn animated" data-wow-delay=".50s">FOR YOUR WEBSITE </h3> -->
                    <p class="wow bounceIn animated" data-wow-delay=".60s">Let's start the Branding & Fabrication era and make something extra</p>
                    <!-- <p> -->
                        <!-- <div class="btn btn-primary btn-lg btn-ornge wow bounceIn animated" data-wow-delay="1s"><i class="hbtn"></i> <span>Click Here</span></i> -->
                        <!-- </div> -->
                    <!-- </p> -->
					</div>               
				</div>
				 <div>
				  <div class="col-xs-12 col-sm-6 col-md-6 header-text">
                    <h2 class="wow bounceIn animated" data-wow-delay=".40s">Committed and professional <span>THIS</span> FOR <br/>YOUR BRAND</h2>
                    <!-- <h3 class="wow bounceIn animated" data-wow-delay=".50s">FOR YOUR WEBSITE </h3> -->
                    <p class="wow bounceIn animated" data-wow-delay=".60s">Let's start the Branding & Fabrication era and make something extra</p>
                    <!-- <p> -->
                        <!-- <div class="btn btn-primary btn-lg btn-ornge wow bounceIn animated" data-wow-delay="1s"><i class="hbtn"></i> <span>Click Here</span></i> -->
                        <!-- </div> -->
                    <!-- </p> -->
					</div>               
				</div>
				
				
				<div>
				  <div class="col-xs-12 col-sm-6 col-md-6 header-text">
                    <h2 class="wow bounceIn animated" data-wow-delay=".40s">Harmonious and cozy <span>THIS</span> FOR <br/>YOUR BRAND</h2>
                    <!-- <h3 class="wow bounceIn animated" data-wow-delay=".50s">FOR YOUR WEBSITE </h3> -->
                    <p class="wow bounceIn animated" data-wow-delay=".60s">Let's start the Branding & Fabrication era and make something extra</p>
                    <!-- <p> -->
                        <!-- <div class="btn btn-primary btn-lg btn-ornge wow bounceIn animated" data-wow-delay="1s"><i class="hbtn"></i> <span>Click Here</span></i> -->
                        <!-- </div> -->
                    <!-- </p> -->
					</div>               
				</div>
				</div>				 
				</div>


                
        </div>
		<!-- =============== container end =============== -->
    </header>
    <!-- =============== About =============== -->
    <section id="about" class="" style="background-color:#222222;">
		<!-- =============== container =============== -->
        <div class="container">            
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInDown animated" data-wow-delay=".5s">
                   <h2 style="color:#fff;">About Us</h2>
				   <p style="color:#fff;">We are connecting the world of Branding and Fabrication. Here we provide new concepts and various kinds of idea and it's beyond the usual thinking and to become the creator you are the source of the creation. </p>
				   <p style="color:#fff;">Here we at the Sunshine Ad Solutions we know how to behave with our employees and how to take care of them because they are the wheels of our success. We know how to deal with the hazardous condition and sudden challenges.</p>
				   <p style="color:#fff;">With the harmony of the heart we welcomes our client not only for the business need but also for the relations and through some endless relations we are always waits to serve them better in the future.</p>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInRight animated" data-wow-delay=".5s">
                     <img src="../../lib_2021/assets/img/about-img.jpg"/>
                  </div>     
            </div>
        </div>   
		<!-- =============== container end =============== -->		
    </section>
	<section id="team" class="">
		<!-- =============== container =============== -->
        <div class="container">            
            <div class="row">
				<div class="title">
				
				<h2>Our Team</h2>
				<br>
				<br>
				<br>
				</div>
                <div class="col-xs-12 col-sm-6 col-md-2 wow fadeInDown animated" data-wow-delay=".1s">
                   <div class="timg"><img src="../../lib_2021/assets/img/taj.jpg"/></div>
				    <div class="t-box">
				   <h3>Syed Mustaque</h3>
				   <span>CEO and Founder</span><br>
				   <ul class="social-links">
						<li><a class="wow fadeInUp animated" href="index.html#"><i class="fa fa-facebook"></i></a></li>
						<li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="index.html#"><i class="fa fa-whatsapp"></i></a></li>
					</ul>
				   </div>
                  </div>
				  <div class="col-xs-12 col-sm-6 col-md-2 wow fadeInUp animated" data-wow-delay=".2s">
                    <div class="timg"><img src="../../lib_2021/assets/img/rana.jpg"/></div>
				   <div class="t-box">
				   <h3>Syed Iftikar</h3>
				   <span>Co-Founder<br>Marketing Head</span>
				   <ul class="social-links">
						<li><a class="wow fadeInUp animated" href="index.html#"><i class="fa fa-facebook"></i></a></li>
						<li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="index.html#"><i class="fa fa-whatsapp"></i></a></li>
					</ul>
				   </div>				   
                  </div>
				  <div class="col-xs-12 col-sm-6 col-md-2 wow fadeInDown animated" data-wow-delay=".3s">
                    <div class="timg"><img src="../../lib_2021/assets/img/sonu.jpg"/></div>
				   <div class="t-box">
				   <h3>Chowdhury Kaif</h3>
				   <span>Operations Head</span><br>
				   <ul class="social-links">
						<li><a class="wow fadeInUp animated" href="index.html#"><i class="fa fa-facebook"></i></a></li>
						<li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="index.html#"><i class="fa fa-whatsapp"></i></a></li>
					</ul>
				   </div>
                  </div> 
				  <div class="col-xs-12 col-sm-6 col-md-2 wow fadeInUp animated" data-wow-delay=".4s">
                    <div class="timg"><img src="../../lib_2021/assets/img/rajo.jpg"/></div>
				    <div class="t-box">
				   <h3>Rajarshi Sarkar</h3>
				   <span>Accounts & Management Head</span><br>
				   <ul class="social-links">
						<li><a class="wow fadeInUp animated" href="index.html#"><i class="fa fa-facebook"></i></a></li>
						<li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="index.html#"><i class="fa fa-whatsapp"></i></a></li>
					</ul>
				   </div>
                  </div>

				<div class="col-xs-12 col-sm-6 col-md-2 wow fadeInUp animated" data-wow-delay=".5s">
                    <div class="timg"><img src="../../lib_2021/assets/img/romi.jpg"/></div>
				    <div class="t-box">
				   <h3>Syed Imtiaj</h3>
				   <span>Web Developer<br>IT Head</span><br>
				   <ul class="social-links">
						<li><a class="wow fadeInUp animated" href="index.html#"><i class="fa fa-facebook"></i></a></li>
						<li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="index.html#"><i class="fa fa-whatsapp"></i></a></li>
					</ul>
				   </div>
                  </div>
				  
				  <div class="col-xs-12 col-sm-6 col-md-2 wow fadeInUp animated" data-wow-delay=".6s">
                    <div class="timg"><img src="../../lib_2021/assets/img/shovon.jpg"/></div>
				    <div class="t-box">
				   <h3>Syed Yousuf</h3>
				   <span>Sales Manager</span><br>
				   <ul class="social-links">
						<li><a class="wow fadeInUp animated" href="index.html#"><i class="fa fa-facebook"></i></a></li>
						<li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="index.html#"><i class="fa fa-whatsapp"></i></a></li>
					</ul>
				   </div>
                  </div>
            </div>
			<br>
			<br>
			<br>
        </div>   
		<!-- =============== container end =============== -->		
    </section>	
	<!-- =============== Services =============== -->
	<section class="for-box" id="Services">
	
	 <div class="container">
		<div class="row">
			<br>
			<div class="title">
				<h2 style="color:#fff;">Services</h2>
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<div class="col-xs-12 col-sm-6 col-md-2 wow rotateInDownLeft animated" data-wow-delay=".1s">
				<div class="for-box-crecl">
					<i class="fa fa-star"></i>
				</div>
				<div class="clr1">				
				<h2>
					Branding<br/>Fabrication
				</h2>
				</div>
				<div class="wbox">
					<p>We are connecting the world of Branding and Fabrication.</p>
					<a href="" class="clr1-a">+</a>
				</div>
				
			</div>
			
			<div class="col-xs-12 col-sm-6 col-md-2 wow rotateInDownRight animated" data-wow-delay=".2s">
				<div class="for-box-crecl">
					<i class="fa fa-home"></i>
				</div>
				<div class="clr2">				
				<h2>
					Interior<br/>Exterior Branding
				</h2>
				</div>
				<div class="wbox">
					<p>We execute your interior and exterior need.</p>
					<a href="" class="clr2-a">+</a>
				</div>
				
			</div>
			
			<div class="col-xs-12 col-sm-6 col-md-2 wow rotateInDownLeft animated" data-wow-delay=".3s">
				<div class="for-box-crecl">
					<i class="fa fa-code"></i>
				</div>
				<div class="clr3">				
				<h2>
					Web<br/>Design
				</h2>
				</div>
				<div class="wbox">
					<p>We create your digital world and elaborate your brand worldwide.</p>
					<a href="" class="clr3-a">+</a>
				</div>
				
			</div>
			
			<div class="col-xs-12 col-sm-6 col-md-2 wow rotateInDownRight animated" data-wow-delay=".4s">
				<div class="for-box-crecl">
					<i class="fa fa-wechat"></i>
				</div>
				<div class="clr4">				
				<h2>
					Consultations<br/>Executions
				</h2>	
				</div>
				<div class="wbox">
					<p>Our specialists are ready to consult and execute your branding needs.</p>
					<a href="#" class="clr4-a">+</a>
				</div>
			
			</div>
			
			<div class="col-xs-12 col-sm-6 col-md-2 wow rotateInDownLeft animated" data-wow-delay=".5s">
				<div class="for-box-crecl">
					<i class="fa fa-font"></i>
				</div>
				<div class="clr3">				
				<h2>
					Logo<br/>Card Design
				</h2>
				</div>
				<div class="wbox">
					<p>We can full-fill your logo and any type of card design.</p>
					<a href="#" class="clr3-a">+</a>
				</div>
				
			</div>
			
			<div class="col-xs-12 col-sm-6 col-md-2 wow rotateInDownRight animated" data-wow-delay=".6s">
				<div class="for-box-crecl">
					<i class="fa fa-gift"></i>
				</div>
				<div class="clr4">				
				<h2>
					Corporate<br/>Gifts
				</h2>
				</div>
				<div class="wbox">
					<p>We full-fill your wishs to give you total satisfactions.</p>
					<a href="#" class="clr4-a">+</a>
				</div>
				
			</div>
		</div>
	 </div>
	</section>
	<!-- =============== clients =============== -->
	<section id="clients" class="" style="background-color:#222222;">
		<!-- =============== container =============== -->
        <div class="container">            
            <div class="row">
				<div class="title">
					<h2 style="color:#fff;">Our Clients</h2>
				</div>
				<% (0..@clients_logo.length-1).each do |i| %>
				<div class="col-xs-12 col-sm-6 col-md-2 wow fadeInDown animated" data-wow-delay=".1s">
					<div class="timg"><img src="../../client_images/<%= @clients_logo[i] %>"></div>
					<div class="t-box" style="background-color:#222222;"></div>
				</div>
				 <% end %>
            </div>
        </div>   
		<!-- =============== container end =============== -->		
    </section>	
	
	
	
	
	
	
	<!-- =============== Counter =============== -->
    <section class="counter">
		<!-- =============== container =============== -->
        <div class="container">            
            <div class="row">
			<div class="title">
				<h2>we are   awesome,   check some interesting facts</h2>				
				</div>
			 <div class="col-xs-12 col-sm-2 col-md-2 wow fadeInUp animated" data-wow-delay=".1s">
                            <i class="fa fa-clock-o size"></i>
							<h2>24x7</h2>
							<span>Service</span>
                  </div>     
               <div class="col-xs-12 col-sm-2 col-md-2 wow fadeInUp animated" data-wow-delay=".2s">
                            <i class="fa fa-cube size"></i>
							<h2>10*</h2>
							<span>Departments</span>
                  </div>  
				   <div class="col-xs-12 col-sm-2 col-md-2 wow fadeInUp animated" data-wow-delay=".3s">
                            <i class="fa fa-male size"></i>
							<h2>20+</h2>
							<span>Strength</span>
                  </div>  
				   <div class="col-xs-12 col-sm-2 col-md-2 wow fadeInUp animated" data-wow-delay=".4s">
                            <i class="fa fa-smile-o size"></i>
							<h2>100%</h2>
							<span>After sale service</span>
                  </div>  
				   <div class="col-xs-12 col-sm-2 col-md-2 wow fadeInUp animated" data-wow-delay=".4s">
                            <i class="fa fa-thumbs-up size"></i>
							<h2>99.9%</h2>
							<span>Client satisfaction</span>
                  </div>    
				   <div class="col-xs-12 col-sm-2 col-md-2 wow fadeInUp animated" data-wow-delay=".6s">
                            <i class="fa fa-rocket size"></i>
							<h2>77</h2>
							<span>Projects Delivered</span>
                  </div>  
            </div>
        </div>   
		<!-- =============== container end =============== -->		
    </section>	
    
<!-- =============== Gallery =============== -->
    <!-- <section id="Gallery" class="wow flipInX animated" data-wow-delay=".0s" style="padding:0 0 0;background-color:#222222;"> -->
    <section id="Gallery" class="" data-wow-delay=".0s" style="padding:0 0 0;background-color:#222222;">
		<div class="title" style="background-color:#222222; padding-top:10px;">
			<h2 style="color:#fff;">Our Works</h2>				
			<p style="color:#fff;">In our portfolio you can browse the latest branding works florished in various places and for different branding purposes.<br>Our qualified designers, professionals are always ready to execute something spectacular for you and beyond your thinking.</p>
		</div>

		<div class="big-demo go-wide" data-js-module="filtering-demo">
			<div class="container" style="background-color:#222222;">            
				<div class="row">
					<div class="filter-button-group button-group js-radio-button-group">
					</div>
				</div>
			</div>


			<div class="grid baguetteBoxThree gallery">
				<% (0..@image_small.length-1).each do |i| %>
				<div class="element-item transition " data-category="post-transition">
					<a href="/project_images/<%= @image_large[i] %>">	 
					<img src="/project_images/<%= @image_large[i] %>"/>      
					<div class="hover-img">
						<i class="fa fa-camera camera"></i>
					</div>
					</a>
				</div>  
				<% end %>
			</div>
		</div>
	</section>
	
	<section id="contact">
	<!-- =============== container =============== -->
		<div class="container">
			    <div class="row">
                <div class="title">
				<h2>Contact</h2>
				<p>Meet some of our lovely, passionate, positive people.</p>
				</div>
			</div>

			<div class="row">

				<div class="col-xs-12 col-sm-12 col-md-12 wow bounceIn animated" data-wow-delay=".1s">

					<form action="/send_mail" method="post">
						<div class="ajax-hidden">
							<div class="col-xs-12 col-sm-6 col-md-6 form-group wow fadeInUp animated">
								<label for="c_name" class="sr-only">Name</label>
								<input type="text" placeholder="Name" name="name" class="form-control" id="name" required="">
							</div>

							<div data-wow-delay=".1s" class="col-xs-12 col-sm-6 col-md-6 form-group wow fadeInUp animated">
								<label for="c_email" class="sr-only">Email</label>
								<input type="email" placeholder="E-mail" name="email" class="form-control" id="email" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" placeholder="e.g. info@envato.com" required="">
							</div>

							<div data-wow-delay=".2s" class="col-xs-12 col-sm-12 col-md-12 form-group wow fadeInUp animated">
								<textarea placeholder="Message" rows="7" name="message" id="message" class="form-control" required=""></textarea>
							</div>

							<button data-wow-delay=".3s" class="btn btn-sm btn-block wow fadeInUp animated" type="submit">Send Message</button>
						</div>
						<div class="ajax-response"></div>
					</form>

				</div>              
			</div>
		</div><!-- =============== container end =============== -->
	</section>
    <!-- Footer -->
    <footer id="footer">
	<!-- =============== container =============== -->
    <div class="container">
			    <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">

					<ul class="social-links">
						<li><a class="wow fadeInUp animated" href="index.html#" style="visibility: visible; animation-name: fadeInUp;"><i class="fa fa-facebook"></i></a></li>
						<li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="index.html#" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;"><i class="fa fa-whatsapp"></i></a></li>
						<!-- <li><a data-wow-delay=".2s" class="wow fadeInUp animated" href="index.html#" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"><i class="fa fa-google-plus"></i></a></li> -->
						<!-- <li><a data-wow-delay=".4s" class="wow fadeInUp animated" href="index.html#" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"><i class="fa fa-pinterest"></i></a></li> -->
						<!-- <li><a data-wow-delay=".5s" class="wow fadeInUp animated" href="index.html#" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"><i class="fa fa-envelope"></i></a></li> -->
					</ul>

                    <p class="copyright">
                        &copy; 2021 , All rights reserved. Created By <a href="http://sunshineadsolutions.com">SAS</a>
					</p>

				</div>
				<div data-wow-delay=".6s" class="col-xs-12 col-sm-6 col-md-6 wow bounceIn  animated" style="visibility: visible; animation-delay: 0.6s; animation-name: bounceIn;">

					  <section class="widget widget_text" id="text-15">
                         <h3 class="widget-title">West Bengal, India</h3> <div class="textwidget"> Walli Nagar, Brooklane, Garden Reach, Kolkata-700024<br>
                        <p>Mobile: +91 9433508881<br>
                        E-mail: <a href="#" style="color:#fff">sunshineadsolutions@gmail.com</a></p>
                        <a href="https://www.google.com/maps/place/Sunshine+Ad+Solutions/@22.5331067,88.2932252,15z/data=!4m5!3m4!1s0x0:0xb06f85a547fdb1d3!8m2!3d22.5331067!4d88.2932252" style="color:#fff">Get directions on the map</a> →</div>
                    </section>

				</div>
			</div>
    </div><!-- =============== container end =============== -->
	</footer> 











<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-mdb-toggle="modal"
  data-mdb-target="#exampleModal"
>
  Launch demo modal
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

Advanced examples

This component requires MDB Pro Essential package.
Learn more

Click the buttons to launch the modals.






















	
	<!-- =============== jQuery =============== -->
    <script src="../../lib_2021/assets/js/jquery.js"></script>
	 <script src="../../lib_2021/assets/js/isotope-docs.min.js"></script>
    <!-- =============== Bootstrap Core JavaScript =============== -->
    <script src="../../lib_2021/assets/js/bootstrap.min.js"></script>
    <!-- =============== Plugin JavaScript =============== -->
    <script src="../../lib_2021/assets/js/jquery.easing.min.js"></script>
    <script src="../../lib_2021/assets/js/jquery.fittext.js"></script>
    <script src="../../lib_2021/assets/js/wow.min.js"></script> 
	<!-- =============== owl carousel =============== -->
    <script src="../../lib_2021/assets/owl-carousel/owl.carousel.js"></script>  
	<!-- Isotope does NOT require jQuery. But it does make things easier -->

<script src="../../lib_2021/assets/js/baguetteBox.js" async></script>
<script src="../../lib_2021/assets/js/plugins.js" async></script>
 
    <!-- =============== Custom Theme JavaScript =============== -->
    <script src="../../lib_2021/assets/js/creative.js">	</script> 
<script src="../../lib_2021/assets/js/jquery.nicescroll.min.js"></script>

<script>
  $(document).ready(function() {
  
	var nice = $("html").niceScroll();  // The document page (body)
	
	$("#div1").html($("#div1").html()+' '+nice.version);
    
    $("#boxscroll").niceScroll({cursorborder:"",cursorcolor:"#00F",boxzoom:true}); // First scrollable DIV

    $("#boxscroll2").niceScroll("#contentscroll2",{cursorcolor:"#F00",cursoropacitymax:0.7,boxzoom:true,touchbehavior:true});  // Second scrollable DIV
    $("#boxframe").niceScroll("#boxscroll3",{cursorcolor:"#0F0",cursoropacitymax:0.7,boxzoom:true,touchbehavior:true});  // This is an IFrame (iPad compatible)
	
    $("#boxscroll4").niceScroll("#boxscroll4 .wrapper",{boxzoom:true});  // hw acceleration enabled when using wrapper
    
  });
</script>
<script>
window.onload = function() {
    if(typeof oldIE === 'undefined' && Object.keys)
        hljs.initHighlighting();

    baguetteBox.run('.baguetteBoxOne');
    baguetteBox.run('.baguetteBoxTwo');
    baguetteBox.run('.baguetteBoxThree', {
        animation: 'fadeIn'
    });
    baguetteBox.run('.baguetteBoxFour', {
        buttons: false
    });
    baguetteBox.run('.baguetteBoxFive', {
        captions: function(element) {
            return element.getElementsByTagName('img')[0].alt;
        }
    });
};

</script>
</body>
</html>

