<!DOCTYPE html>
  <div id="iframe_download_div" style="display:none;"></div> 

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Sunshine Ad Solutions</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="favicon.ico" rel="shortcut icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=helvetica:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../../lib_2021/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib_2021/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib_2021/animate-css/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style_2021.css" rel="stylesheet">
  
</head>

<body>
  <div id="preloader"></div>

  <!--==========================
  Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <img class="" src="img/sas_logo.png" alt="Imperial" style="height:250px;">
        </div>

        <h1>Welcome to Sunshine Ad Solutions</h1>
        <h2><span class="rotating">Innovative and affordable, Committed and professional, Harmonious and cozy</span></h2>
        <div class="actions">
          <a href="#about" class="btn-get-started">Get Strated</a>
          <a href="#services" class="btn-services">Our Services</a>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Header Section
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="../../img/sas_footer_logo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Header 1</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Our Works</a></li>
          <!-- <li><a href="#testimonials">Testimonials</a></li> -->
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->

  <!--==========================
  About Section
  ============================-->
  <section id="about" style="background-color:#434343;">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title" style="color:#ffff;">About Us</h3>
          <div class="section-title-divider"></div>
          <!-- <p class="section-description" style="color:#ffff;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p> -->
        </div>
      </div>
    </div>
    <div class="container about-container wow fadeInUp">
      <div class="row">

        <div class="col-lg-6 about-img">
          <img src="../../img/about-img.jpg" alt="">
        </div>

        <div class="col-md-6 about-content" style="background-color:#434343;">
          <h2 class="about-title" style="color:#ffff;">We provide great services and ideass</h2>
          <p class="about-text" style="color:#ffff;">
            We are connecting the world of Branding and Fabrication. Here we provide new concepts and various kinds of idea and it's beyond the usual thinking and to become the creator you are the source of the creation.
          </p>
          <p class="about-text" style="color:#ffff;">
            Here we at the Sunshine Ad Solutions we know how to behave with our employees and how to take care of them because they are the wheels of our success. We know how to deal with the hazardous condition and sudden challenges.
          </p>
          <p class="about-text" style="color:#ffff;">
            With the harmony of the heart we welcomes our client not only for the business need but also for the relations and through some endless relations we are always waits to serve them better in the future.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Services Section
  ============================-->
  <section id="services" style="background-color:#282828;">
    <div class="container wow fadeInUp" style="background-color:#282828;">
      <div class="row" style="background-color:#282828;">
        <div class="col-md-12" style="background-color:#282828;">
          <h3 class="section-title" style="color:#ffff;">Our Services</h3>
          <div class="section-title-divider"></div>
          <p class="section-description" style="color:#ffff;">We want to revolve our world around the client and clients will became our world very soon.</p>
        </div>
      </div>

      <div class="row" style="background-color:#282828;">
        <div class="col-md-3 service-item">
          <div class="service-icon"><i class="fa fa-empire"></i></div>
          <h4 class="service-title"><a href="" style="color:#ffff;">Interior & Exterior Branding</a></h4>
          <p class="service-description" style="color:#ffff;">We execute your interior and exterior need.</p>
        </div>
        <div class="col-md-3 service-item">
          <div class="service-icon"><i class="fa fa-desktop"></i></div>
          <h4 class="service-title"><a href="" style="color:#ffff;">Web Design</a></h4>
          <p class="service-description" style="color:#ffff;">We create your digital world and elaborate your brand worldwide.</p>
        </div>
        <div class="col-md-3 service-item">
          <div class="service-icon"><i class="fa fa-comments"></i></div>
          <h4 class="service-title"><a href="" style="color:#ffff;">Consultations & Executions</a></h4>
          <p class="service-description" style="color:#ffff;">Our specialists are ready to consult and execute your branding needs.</p>
        </div>
        <div class="col-md-3 service-item">
          <div class="service-icon"><i class="fa fa-trophy"></i></div>
          <h4 class="service-title"><a href="" style="color:#ffff;">Corporate Gifts</a></h4>
          <p class="service-description" style="color:#ffff;">We full-fill your wishs to give you total satisfactions.</p>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Subscrbe Section
  ============================-->
  <section id="subscribe" style="background-color:#434343;">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h3 class="subscribe-title">Know more about us...</h3>
          <p class="subscribe-text">Join our 1000+ subscribers and get access to the latest tools, freebies, product announcements and much more!</p>
        </div>
        <div class="col-md-4 subscribe-btn-container">
          <a class="subscribe-btn" onclick="download_doc_file();" style="cursor:pointer;">Download Brochure</a>
        </div>
      </div>
    </div>
  </section>
  
  <!-- new projects 

-->



  <!--========================== Porfolio Section start============================-->
  
  <section id="portfolio" style="background-color:#434343;">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title" style="color:#ffff;">Our Works</h3>
          <div class="section-title-divider"></div>
          <p class="section-description" style="color:#ffff;">In our portfolio you can browse the latest branding works florished in various places and for different branding purposes. Our qualified designers, professionals are always ready to execute something spectacular for you and beyond your thinking.</p>
        </div>
      </div>

      <div class="row">
		<% (0..@image_small.length-1).each do |i| %>
			<div class="col-md-3">
			  <a class="portfolio-item" style="background-image: url(../../project_images/<%= @image_small[i] %>);" href="../../project_images/<%= @image_large[i] %>">
				<div class="details">
				  
				</div>
			  </a>
			</div>
		<% end %>
      </div>
    </div>
  </section>
  
  
  <!--========================== Porfolio Section end============================-->

  <!--==========================
  Team Section
  ============================-->
  <section id="team" style="background-color:#434343;">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title" style="color:#ffff;">Our Team</h3>
          <div class="section-title-divider"></div>
          <!-- <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <div class="member">
            <div class="pic"><img src="img/taj.jpeg" alt=""></div>
            <h4 style="color:#ffff;">Syed Mustaque</h4>
            <span style="color:#ffff;">Founder and Designer Head</span>
            <div class="social">
              <a href="https://m.facebook.com/Sunshine-Ad-Solutions-106126370881861/"><i class="fa fa-facebook"></i></a>
              <a  href="https://wa.me/919051637782"><i class="fa fa-whatsapp"></i></a>
            </div>
          </div>
        </div>
		
		<div class="col-md-2">
          <div class="member">
            <div class="pic"><img src="img/rana.jpeg" alt=""></div>
            <h4 style="color:#ffff;">Syed Iftikar</h4>
            <span style="color:#ffff;">Co-founder and Marketing Head</span>
            <div class="social">
              <a href="https://m.facebook.com/Sunshine-Ad-Solutions-106126370881861/"><i class="fa fa-facebook"></i></a>
              <a  href="https://wa.me/919836666946"><i class="fa fa-whatsapp"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="member">
            <div class="pic"><img src="img/romi.jpeg" alt=""></div>
            <h4 style="color:#ffff;">Syed Imtiaj</h4>
            <span style="color:#ffff;">Web Developer and Technical Head</span>
            <div class="social">
              <a href="https://m.facebook.com/Sunshine-Ad-Solutions-106126370881861/"><i class="fa fa-facebook"></i></a>
              <a  href="https://wa.me/917003307294"><i class="fa fa-whatsapp"></i></a>
            </div>
          </div>
        </div>

        

        <div class="col-md-2">
          <div class="member">
            <div class="pic"><img src="img/sonu.jpeg" alt=""></div>
            <h4 style="color:#ffff;">Syed Ershad</h4>
            <span style="color:#ffff;">Operation and Execution Head</span>
            <div class="social">
              <a href="https://m.facebook.com/Sunshine-Ad-Solutions-106126370881861/"><i class="fa fa-facebook"></i></a>
              <a  href="https://wa.me/919836902336"><i class="fa fa-whatsapp"></i></a>
            </div>
          </div>
        </div>
		
		<div class="col-md-2">
          <div class="member">
            <div class="pic"><img src="img/rajarshi.jpeg" alt=""></div>
            <h4 style="color:#ffff;">Rajarshi Sarkar</h4>
            <span style="color:#ffff;">Accounts and Management Head</span>
            <div class="social">
              <a href="https://m.facebook.com/Sunshine-Ad-Solutions-106126370881861/"><i class="fa fa-facebook"></i></a>
              <a  href="https://wa.me/918981872987"><i class="fa fa-whatsapp"></i></a>
            </div>
          </div>
        </div>
		
		<div class="col-md-2">
          <div class="member">
            <div class="pic"><img src="img/shovon.jpeg" alt=""></div>
            <h4 style="color:#ffff;">Syed Yousuf</h4>
            <span style="color:#ffff;">Head of Sales and Field Manager</span>
            <div class="social">
              <a href="https://m.facebook.com/Sunshine-Ad-Solutions-106126370881861/"><i class="fa fa-facebook"></i></a>
              <a  href="https://wa.me/918768678230"><i class="fa fa-whatsapp"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
  Contact Section
  ============================-->
  <section id="contact" style="background-color:#282828;">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title" style="color:#ffff;">Contact Us</h3>
          <div class="section-title-divider"></div>
          <!-- <p class="section-description" style="color:#ffff;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-push-2">
          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p style="color:#ffff;">Walli Nagar,Brooklane<br>Garden Reach, Kolkata-700024</p>
            </div>
			
			<div>
              <i class="fa fa-map-marker"></i>
              <p style="color:#ffff;">20A New Mollapara Lane<br>Balitikuri, Howrah-711113</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p style="color:#ffff;">sunshineadsolutions@gmail.com</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p style="color:#ffff;">+91 9433508881</p>
            </div>

          </div>
        </div>

        <div class="col-md-5 col-md-push-2">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone" data-rule="phone" data-msg="Please enter a valid phone number" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
  Footer
============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            &copy; Copyright <strong>Sunshine Ad Solutions</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
            -->
            Designed by <a href="https://sunshineadsolutions.com/">Sunshine Ad Solutions</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Required JavaScript Libraries -->
  <script src="../../lib_2021/jquery/jquery.min.js"></script>
  <script src="../../lib_2021/bootstrap/js/bootstrap.min.js"></script>
  <script src="../../lib_2021/superfish/hoverIntent.js"></script>
  <script src="../../lib_2021/superfish/superfish.min.js"></script>
  <script src="../../lib_2021/morphext/morphext.min.js"></script>
  <script src="../../lib_2021/wow/wow.min.js"></script>
  <script src="../../lib_2021/stickyjs/sticky.js"></script>
  <script src="../../lib_2021/easing/easing.js"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="../../js/custom_2021.js"></script>

  <script src="../../contactform_2021/contactform.js"></script>


</body>

<script>
	function download_doc_file(){
		//alert("ashgdsbdasgd");
		$.ajax({
			type: "get",
			url: "/download_documentation", 
			success: function(msg){ 
				if(msg.trim() == ""){
					alert("Brochure File not available.");
					return;
				}
				var url="/download_file?file_name="+encodeURIComponent(msg); 
				console.log(url);
				$("#iframe_download_div").html("");
				var iframe='<iframe name="file_download" id="file_download" style="display:none;" src="'+url +'"  ></iframe>'
				$("#iframe_download_div").html(iframe);   
			}
		});	 
	}
</script>

</html>
