<%= csrf_meta_tags %>

<script src="/js/jquery.js"></script>

<script src="/js/ag-grid_17_1_1/ag-grid-enterprise.js"></script>
<link rel="stylesheet" type="text/css" href="/css/ag-grid_17_1_1/ag-grid.css">
<link rel="stylesheet" type="text/css" href="/css/ag-grid_17_1_1/ag-theme-balham.css"> 
<script src="/js/ag-grid_17_1_1/ag-grid_custom_server_side_paging.js"></script>
<link rel="stylesheet" type="text/css" href="/css/ag-grid_17_1_1/ag-grid_custom_server_side_paging.css">  

<style>
	#upload_project_images input[type="button"]{
		/*border-radius:5px;*/
		border:0px solid #cccccc;
		color : #fff;
		padding :5px 10px 5px 10px; 
	}
	
	#upload_project_images input[type="submit"]{
		/*border-radius:5px;*/
		border:0px solid #cccccc;
		padding :5px 10px 5px 10px; 
		color : #fff;
		background :#BE3364
	}
	
	.ui-widget-header {
		background: #d9d9d9 !important; 
		border: 1px solid #808080;
		color: #ffffff;
		font-weight: bold;
	} 
	.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
		color: #ffffff !important;
		font-family:   Arial !important;
	} 
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
		background-color :#c6e6f0 !important;
		background-image: none !important;
	} 
	.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
		background-color :#8fb8bf !important;
		background-image: none !important;
	}
	.ui-state-default a {
		color: #215a66 !important;
	}
	
	.corner_border_div_100_green_ag{
		float:left;
		padding-left:10px;
		padding-right:10px;
		padding-top:5px;
		padding-bottom:5px; 
		border-radius:0px;
		text-align:center;
		background-color: #459bac;
		color: white;
		border: 0;
	}
	
	.corner_border_div_100_red_ag{
		float:left;
		padding-left:10px;
		padding-right:10px;
		padding-top:5px;
		padding-bottom:5px; 
		border-radius:0px;
		text-align:center;
		background-color: #BE3364;
		color: white;
		border: 0;
	}
	
	.html_css_class {
		background: rgba(0, 0, 0, 0) url("/images/header.jpg") repeat fixed center 0 / cover  ;
		color: #fff;
		height: 100%;
		overflow: hidden;
		transition: all 0.35s ease 0s;
	}
	
	#overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 9999;
	}

	#overlayContent {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #000;
		padding: 20px;
	}
	
	
</style>
<title>Bill Details</title>
<!DOCTYPE html>
<!DOCTYPE html>
<html class="html_css_class">
	<div id="overlay">
	  <div id="overlayContent">
		<h2>Loading...</h2>
		<p>Please wait while the backend process completes.</p>
	  </div>
	</div>
<head>
	<style>
		body {
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		
		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 20px;
			width:70%;
		}
		
		.button-container {
			display: flex;
			justify-content: center;
			margin-top: 20px;
		}
		
		.button-container input[type="button"] {
			background: #459bac;
			cursor: pointer;
			margin-right: 10px;
			border: none;
			color: #fff;
			padding: 5px;
			border-radius: 5px;
		}
		
		.data-grid-container {
			width: 142%;
			padding-left: 3px;
			margin-top: 25px;
		}
		
		.ag-theme-balham {
			height: 400px;
			font-size: 16px !important;
		}
		
		.ag-theme-balham .ag-header{
			font-size: 16px !important;
		}

		@media only screen and (max-width: 768px) {
			.container {
				width: 100%;
			}

			.data-grid-container {
				width: 100%;
				padding-left: 3px;
				
			}
		}
		#document_gridvw{
			height:600px !important;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="button-container">
			<input type="button" name="create_bill" value="Create TAX Bill" onclick="window.location.href='/createBill'">
			<input type="button" name="create_non_tax_bill" value="Create Non-TAX Bill" onclick="window.location.href='/createNonTaxBill'">
			<input type="button" name="edit_bill" value="Edit" onclick="edit_bill();">
			<input type="button" name="generate_bill" value="Generate Bill" onclick="call_generate_pdf_bill()">
			<input type="button" name="cancelBttn" value="Admin Panel" onclick="admin_panel();">
			<input type="button" name="cancelBttn" value="Close Bill" onclick="close_bill();">
		</div>
		
		<div class="data-grid-container">
			<div id="document_gridvw" class="ag-theme-balham"></div>
		</div>
	</div>
</body>
</html>



<script>
	
	
	function admin_panel(){
		window.location.href= '/admin_panel'; 
	}
	
	
	 $(document).ready(function(){ 
		
		init_grid();
	 });
	 
	  
</script>

<script> 
	var coldef_for_bill= <%= raw @coldef.to_json %>
	var new_columnDefs_obj =[];
	
	
	for(var i=0;i<coldef_for_bill.length;i++){ 
		var _hash=coldef_for_bill[i]; 
		if(_hash.hasOwnProperty('cellRenderer')){
			cell_render_val=_hash["cellRenderer"]  
			if(cell_render_val =="1"){
				_hash["cellRenderer"]=currencyDecimalRender; 
			}
		}
		if(_hash["field"]=="bill_number"){
		  _hash["cellStyle"]=bill_number_cell_style;
		}
		new_columnDefs_obj.push(_hash);
	}
	
	var gridOptions = {
		columnDefs: new_columnDefs_obj,
		rowData: null,
		enableSorting: true,
		enableFilter: true,
		rowSelection: 'multiple',
		headerHeight: 50,
		singleClickEdit: true,	
		rowHeight:30,
		enableRangeSelection: true,			
		enableStatusBar: true, 
		enableColResize: true,
		suppressRowClickSelection:true, 
		onGridReady: function() {   } ,
		components: {
			'simpleRenderer': SimpleRenderer 
		}, 
		pagination: true
	};  
	
	function bill_number_cell_style(params){			
		var field_val=params.data["bill_type"];   
		console.log(field_val);
		if(field_val == "Tax"){
			return {'color': 'green'}; 
		}   
	}
	
	function currencyDecimalRender(params){ 
		var cur_symbol="₹"
		if(params.value===null || params.value===undefined){ 
			return null;
		}else if(isNaN(params.value)){ 
			try{
				return  cur_symbol + params.value; 
			}catch(err){ 
				return  'NaN';
			}
		}else{
			try{
				return cur_symbol + parseFloat(params.value).toFixed(2).toString();
			}catch(err){
				return "";
			}
		}
	}
	
	function unchk_header_all(){ 
		var selected_row_count = get_selected_row_ids().length;
		var row_number_in_this_page = gridOptions.api.paginationGetRowCount();
		if(selected_row_count == row_number_in_this_page){
			$('#picb').attr('checked', true);
		}else{
			$('#picb').attr('checked', false); 
		}
	}
	
	function get_selected_row_ids(){
		sel_rows=[]; 
		gridOptions.api.forEachNodeAfterFilterAndSort(function(node, index){
			if (node.selected == true) {
				if (node.data) { 
					sel_rows.push(node.data);
				} 
			}
		});  
		var ids=[] 
		for (var i=0;i<sel_rows.length;i++){
			id=sel_rows[i]["id"]
			ids.push(id);
		}
		return ids;
	} 
	
	
	function get_selected_bill_number(){
		sel_rows=[]; 
		gridOptions.api.forEachNodeAfterFilterAndSort(function(node, index){
			if (node.selected == true) {
				if (node.data) { 
					sel_rows.push(node.data);
				} 
			}
		});  
		var ids=[] 
		for (var i=0;i<sel_rows.length;i++){
			id=sel_rows[i]["bill_number"]
			ids.push(id);
		}
		return ids;
	} 
	
	function init_grid(){
		pageSize1=100;  
		var gridDiv = document.querySelector('#document_gridvw');  
		new agGrid.Grid(gridDiv, gridOptions);  
		load_custom_paging();		 
		gridOptions.api.hideOverlay();  
		load_datasource();
	}
	
	/*----------------celrenderer using component-----------------------*/
	function SimpleRenderer() {} 
	SimpleRenderer.prototype.init = function(params) {
		this.eGui = document.createElement('div');
		if(params.value != undefined){
			this.eGui.innerHTML = params.value; 
		}else{
			this.eGui.innerHTML = "";
		}
	};
	SimpleRenderer.prototype.getGui = function() {
		return this.eGui;
	};
	/*----------------celrenderer using component-----------------------*/
	
	function load_datasource(){
		createNewDatasource(); 
	}
	function createNewDatasource(){     
		var limit= (startRow-1)+"_"+pageSize1;  
		gridOptions.api.showLoadingOverlay(); 
		enableDisableButtons("disable");
		
		$.ajax({
			type: "post",
			url: "/get_bill_details_aggrid_data",
			data: "limit="+limit,
			success: function(msg){
				
				var rowsThisPage = JSON.parse(msg);  
				total_aggrid_rows=parseInt(rowsThisPage["total"]); 
				set_global_pagination_variables(rowsThisPage["data"].length); 
				enableDisableButtons("enable");
				gridOptions.api.setRowData(rowsThisPage["data"]);   
				if(rowsThisPage.length == 0){
					gridOptions.api.showNoRowsOverlay(); 
				}
			}
		}); 	
	} 
	
	function header_select_all(obj){ 
		if(obj.is(':checked') == true){  
			gridOptions.api.selectAll();  
			obj.attr('checked', true);
		}    
		else{ 
			gridOptions.api.deselectAll();  
		}  
	}
	
	function call_generate_pdf_bill(){
		var selected_row = get_selected_row_ids(); 
		
		if(selected_row.length ==0){
			alert("Please select atleast one bill.");
		}else{
			if(selected_row.length >1){
				alert("Please select one bill only.");
			}else{
				check_generate_pdf_bill();
			}
		}
	}
	
	
	function edit_bill(){
		var selected_row = get_selected_row_ids(); 
		
		if(selected_row.length ==0){
			alert("Please select atleast one bill.");
		}else{
			if(selected_row.length >1){
				alert("Please select one bill only.");
			}else{
				var bill_status = gridOptions.api.getSelectedRows()[0].bill_status;
				if(bill_status == "Open"){
					var selected_row = get_selected_bill_number();
					var bill_type = gridOptions.api.getSelectedRows()[0].bill_type;
					if(bill_type == "Tax"){
						window.location.href='/editTaxBill?bill_number='+selected_row;
					}else{
						window.location.href='/editNonTaxBill?bill_number='+selected_row;
					}
				}else{
					alert("Bill already closed.");
				}
			}
		}
	}
	
	function close_bill(){
		var selected_row = get_selected_row_ids(); 
		if(selected_row.length ==0){
			alert("Please select atleast one bill.");
		}else{
			if(selected_row.length >1){
				alert("Please select one bill only.");
			}else{
				var selected_row = get_selected_bill_number();
				if(confirm("Are you sure you want to close this bill?")){
					close_bill_and_send_mail(selected_row);
				}
			}
		}
	}
	
	
	function close_bill_and_send_mail(bill_number){
		jquery_overlay_start();
		$.ajax({
			type: "get",
			url: "/close_bill_and_send_mail",
			data: "bill_number="+bill_number,
			success: function(msg){
				jquery_overlay_stop();
				alert(msg);
				load_datasource();
				
			}
		});
	}
	
	function check_generate_pdf_bill(){
		var selected_row = get_selected_bill_number();
		$.ajax({
			type: "get",
			url: "/check_generate_pdf_bill",
			data: "bill_number="+selected_row,
			success: function(msg){
				// if(msg == "closed"){
					// alert("Bill already closed.")
					// reload_page();
					// return;
				// }else{
					generate_pdf_bill();
				// }
			}
		});
	}
	
	function generate_pdf_bill(){
		var selected_row = get_selected_bill_number(); 
		window.location.href='/generate_pdf_bill?bill_number='+selected_row
	}
	
	
	function reload_page(){
		window.parent.location.reload();
	}
	
	function jquery_overlay_start(){
		$('#overlay').fadeIn();
	}
		
	function jquery_overlay_stop(){
		$('#overlay').fadeOut();
	}
	
	
	
	
	
</script> 